body{
	font-family:"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"ƒƒCƒŠƒI",
	"MS PƒSƒVƒbƒN",Verdana,Geneva,Arial,Helvetica,sans-serif;color:#000000;/* #696969 */
}
header{
	margin:10px;
	padding:10px;
	background-color:#B0C0FF;
	color:#fff;
	text-align:right;
}
#wrap{
	margin:10px;
	background-color:#DCF8FF;
}
h1,h2{
	color:#20FFC0;
}
h1.err{
	color:#FF0000;
}
footer{
	margin:10px;
	background-color:#c0ddc0;
	color:#334d55;
	text-align:center;
}